@model List<Test_Auto_Blog.Domain.Models.Post>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>
<link rel="stylesheet" href="~/css/GetPosts.css" />
<script src="~/js/GetPosts.js" asp-append-version="true"></script>
<div style="padding: 10px;"></div>

<div class="column">
    @if(Model != null)
    {
        
        <div class="typeCar__containet">
            <p><a class="typeCar_item" asp-controller="Post" asp-action="GetPosts" asp-route-TypeCar="all" name="TypeCar">Все</a></p>
            <p><a class="typeCar_item" asp-controller="Post" asp-action="GetPosts" asp-route-TypeCar="lightCar" name="TypeCar">Легковые</a></p>
            <p><a class="typeCar_item" asp-controller="Post" asp-action="GetPosts" asp-route-TypeCar="truck" name="TypeCar">Грузовые</a></p>
            <p><a class="typeCar_item" asp-controller="Post" asp-action="GetPosts" asp-route-TypeCar="sportCar" name="TypeCar">Спорткары</a></p>
            <p><a class="typeCar_item" asp-controller="Post" asp-action="GetPosts" asp-route-TypeCar="bus" name="TypeCar">Автобус</a></p>
            <p><a class="typeCar_item" asp-controller="Post" asp-action="GetPosts" asp-route-TypeCar="sedan" name="TypeCar">Седан</a></p>
        </div>
        <form class="Filter__containet" method="get" asp-controller="Post" asp-action="GetPosts">
            <input type="hidden" id="modelSelectType" name="TypeCar" value="">
            <div class="filter">
                <p class="Filter_item">Дата написания статьи</p>
                <select name="PostDate" asp="" placeholder="Описание" class="Filter_item form-control textbox-dg font-weight-bold text-center" type="password">
                    <option value="0">Любая</option>
                    <option>2023</option>
                    <option>2022</option>
                    <option>2021</option>
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                </select>
            </div>
            <div class="filter">
                <p class="Filter_item mar">Дата выпуска машины</p>
                <select name="CarDate" asp="" placeholder="Описание" class="Filter_item form-control textbox-dg font-weight-bold text-center" type="password">
                    <option value="0">Любая</option>
                    <option>2023</option>
                    <option>2022</option>
                    <option>2021</option>
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                </select>
            </div>
            <div class="filter">
                <p class="Filter_item mar">Модель машины</p>
                <select id="modelSelect" name="NameCar" asp="" placeholder="Модель машины" class="Filter_item form-control textbox-dg font-weight-bold text-center" type="text">
                    <option value="0">Любая</option>
                </select>
            </div>
            <input class="SubBut btn btn-success" text="Искать" type="submit" value="Submit" />
         </form>
        @if (Model.Count != 0)
        {
            <div class="ContentConteiner">
                @foreach (var post in Model)
                {
                    <div class="Car">
                        <div class="ImgCont">
                            <img class="CarImg" src="data:image/jpeg;base64,@Convert.ToBase64String(post?.Avatar ?? Array.Empty<byte>())" class="card-img-top" alt="@post.Name">
                        </div>
                        <div class="text_container">
                            <h5 class="Car_text">@post.Name</h5>
                            <p class="Car_descr overflow-hidden text-ellipsis" id="description">@post.Description</p>
                            <div class="buttons">
                                <a asp-action="GetPost" asp-route-id="@post.Id" class="btn btn btn-dark">Перейти</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Удалить</a>
                                    <a asp-controller="Post" asp-action="Create" asp-route-id="@post.Id" asp-route-TypeCar="Loop" asp-route-Model="BMW" class="btn btn-primary">Изменить</a>
                                }
                            </div>
                        </div>
                        
                    </div>
                }
            </div>
            
        }
        else
        {
            <p>По вашему запросу ничего не найдено (</p>
        }

    }
    else
    {
        <p>На сайте отсутсвуют блоги</p>
    }

</div>

